.bdt-icon {
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    padding: 0;
    background-color: transparent;
    display: inline-block;
    fill: currentcolor;
    line-height: 0
}

.bdt-icon>* {
    transform: translate(0,0)
}

.bdt-slider {
    -webkit-tap-highlight-color: transparent
}

:root {
    --bdt-leader-fill-content: .
}

.bdt-slidenav {
    padding: 5px 10px;
    color: rgba(102,102,102,.5)
}

.bdt-slidenav:hover {
    color: rgba(102,102,102,.9)
}

.bdt-slidenav:active {
    color: rgba(102,102,102,.5)
}

.bdt-slidenav-container {
    display: flex
}

[bdt-cover]:where(img,video),[data-bdt-cover]:where(img,video) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center
}

.bdt-clearfix::before {
    content: "";
    display: table-cell
}

.bdt-clearfix::after {
    content: "";
    display: table;
    clear: both
}

.bdt-flex {
    display: flex
}

.bdt-flex-middle {
    align-items: center
}

:root {
    --bdt-position-margin-offset: .0001px
}

[class*="bdt-position-top"],[class*="bdt-position-bottom"],[class*="bdt-position-left"],[class*="bdt-position-right"],[class*="bdt-position-center"] {
    position: absolute!important;
    max-width: calc(100% - (var(--bdt-position-margin-offset) * 2));
    box-sizing: border-box
}

.bdt-position-bottom {
    bottom: 0;
    left: 0;
    right: 0
}

.bdt-position-center {
    top: calc(50% - var(--bdt-position-margin-offset));
    left: calc(50% - var(--bdt-position-margin-offset));
    --bdt-position-translate-x: -50%;
    --bdt-position-translate-y: -50%;
    transform: translate(var(--bdt-position-translate-x),var(--bdt-position-translate-y));
    width: max-content
}

.bdt-position-large {
    margin: 30px;
    --bdt-position-margin-offset: 30px
}

@media (min-width: 1200px) {
    .bdt-position-large {
        margin:50px;
        --bdt-position-margin-offset: 50px
    }
}

.bdt-position-z-index {
    z-index: 1
}

@media (max-width: 959px) {
    .bdt-visible\@m {
        display:none!important
    }
}

* {
    --bdt-inverse: initial
}

.bdt-cover {
    max-width: none!important
}

.bdt-heading-title:before,.bdt-heading-tag:before,.bdt-slide-title:before {
    content: none
}

[class*="elementor-widget-bdt-"] a:hover {
    text-decoration: none
}

@charset "UTF-8";a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,iframe,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var {
    border: 0;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

a {
    background-color: transparent
}

a:active {
    outline: 0
}

a,a:focus,a:hover,a:visited {
    text-decoration: none
}

b,strong {
    font-weight: 700
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,select {
    text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

input {
    line-height: normal
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

@media (min-width: 544px) {
    .ast-container {
        max-width:100%
    }
}

@media (min-width: 768px) {
    .ast-container {
        max-width:100%
    }
}

@media (min-width: 992px) {
    .ast-container {
        max-width:100%
    }
}

@media (min-width: 1200px) {
    .ast-container {
        max-width:100%
    }
}

.ast-container,.ast-container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px
}

.ast-container-fluid::after,.ast-container::after {
    content: "";
    display: table;
    clear: both
}

h1,h2,h3,h4,h5,h6 {
    clear: both
}

.entry-content :where(h1),h1 {
    color: #808285;
    font-size: 2em;
    line-height: 1.2
}

.entry-content :where(h2),h2 {
    color: #808285;
    font-size: 1.7em;
    line-height: 1.3
}

.entry-content :where(h3),h3 {
    color: #808285;
    font-size: 1.5em;
    line-height: 1.4
}

.entry-content :where(h4),h4 {
    color: #808285;
    line-height: 1.5;
    font-size: 1.3em
}

html {
    box-sizing: border-box
}

*,:after,:before {
    box-sizing: inherit
}

body {
    color: #808285;
    background: #fff;
    font-style: normal
}

ol,ul {
    margin: 0 0 1.5em 3em
}

ul {
    list-style: disc
}

li>ol,li>ul {
    margin-bottom: 0;
    margin-left: 1.5em
}

b,strong {
    font-weight: 700
}

cite,dfn,em,i {
    font-style: italic
}

img {
    height: auto;
    max-width: 100%
}

.ast-button,.button,button,input,select,textarea {
    color: #808285;
    font-weight: 400;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline
}

button,input {
    line-height: normal
}

table,td,th {
    border: 1px solid var(--ast-border-color)
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.5em;
    width: 100%
}

.ast-button,.button,button,input[type=button],input[type=reset],input[type=submit] {
    border: 1px solid;
    border-color: var(--ast-border-color);
    border-radius: 2px;
    background: #e6e6e6;
    padding: .6em 1em .4em;
    color: #fff
}

.ast-button:focus,.ast-button:hover,.button:focus,.button:hover,button:focus,button:hover,input[type=button]:focus,input[type=button]:hover,input[type=reset]:focus,input[type=reset]:hover,input[type=submit]:focus,input[type=submit]:hover {
    color: #fff;
    border-color: var(--ast-border-color)
}

.ast-button:active,.ast-button:focus,.button:active,.button:focus,button:active,button:focus,input[type=button]:active,input[type=button]:focus,input[type=reset]:active,input[type=reset]:focus,input[type=submit]:active,input[type=submit]:focus {
    border-color: var(--ast-border-color);
    outline: 0
}

input[type=email],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],textarea {
    color: #666;
    border: 1px solid var(--ast-border-color);
    border-radius: 2px;
    -webkit-appearance: none
}

input[type=email]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=url]:focus,textarea:focus {
    color: #111
}

a {
    color: #4169e1
}

a:focus,a:hover {
    color: #191970
}

a:focus {
    outline: thin dotted
}

a:hover {
    outline: 0
}

.screen-reader-text {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal!important
}

#primary:after,#primary:before,#secondary:after,#secondary:before,.ast-container:after,.ast-container:before,.ast-row:after,.ast-row:before,.clear:after,.clear:before,.sidebar-main:after,.sidebar-main:before,.site-content:after,.site-content:before,.site-footer:after,.site-footer:before,.site-header:after,.site-header:before,.site-main:after,.site-main:before {
    content: "";
    display: table
}

#primary:after,#secondary:after,.ast-container:after,.ast-row:after,.clear:after,.sidebar-main:after,.site-content:after,.site-footer:after,.site-header:after,.site-main:after {
    clear: both
}

.entry-content[data-ast-blocks-layout]>embed,.entry-content[data-ast-blocks-layout]>iframe,.entry-content[data-ast-blocks-layout]>object,embed,iframe,object {
    max-width: 100%
}

::selection {
    color: #fff;
    background: #0274be
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body:not(.logged-in) {
    position: relative
}

#page {
    position: relative
}

a,a:focus {
    text-decoration: none
}

.secondary a *,.site-footer a *,.site-header a *,a {
    transition: all .2s linear
}

img {
    vertical-align: middle
}

p {
    margin-bottom: 1.75em
}

.ast-button,.button,input[type=button],input[type=submit] {
    border-radius: 0;
    padding: 18px 30px;
    border: 0;
    box-shadow: none;
    text-shadow: none
}

input,select {
    line-height: 1
}

.ast-button,.ast-custom-button,body,button,input[type=button],input[type=submit],textarea {
    line-height: 1.85714285714286
}

body {
    background-color: #fff
}

#page {
    display: block
}

.ast-page-builder-template .hentry {
    margin: 0
}

.ast-page-builder-template .site-content>.ast-container {
    max-width: 100%;
    padding: 0
}

.hentry {
    margin: 0 0 1.5em
}

body {
    overflow-x: hidden
}

input[type=email],input[type=number],input[type=password],input[type=reset],input[type=search],input[type=tel],input[type=text],input[type=url],select,textarea {
    color: #666;
    padding: .75em;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: var(--ast-border-color);
    border-radius: 2px;
    background: var(--ast-comment-inputs-background);
    box-shadow: none;
    box-sizing: border-box;
    transition: all .2s linear
}

input[type=email]:focus,input[type=password]:focus,input[type=reset]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=url]:focus,select:focus,textarea:focus {
    background-color: #fff;
    border-color: var(--ast-border-color);
    box-shadow: none
}

input[type=button],input[type=button]:focus,input[type=button]:hover,input[type=reset],input[type=reset]:focus,input[type=reset]:hover,input[type=submit],input[type=submit]:focus,input[type=submit]:hover {
    box-shadow: none
}

input[type=search]:focus {
    outline: thin dotted
}